{
    "Games": [
        "Steam",
        "GOG",
        "Playnite",
        "VCMI",
        "Google Chrome",
        "Discord",
        "7Zip",
        "Proton VPn"
    ],
    "Work": [
        "Visual Studio Code",
        "DBeaver",
        "Postman",
        "Ditto",
        "Notepad++",
        "Beyond Compare",
        "Google Chrome",
        "MobaXtrem",
        "awscli",
        "OpenLens",
        "Chocolatey GUI",
        "7Zip"
    ],
    "Custom Play": [
        "Steam",
        "GOG",
        "Playnite",
        "VCMI",
        "YouTube Music",
        "Gimp",
        "Google Chrome",
        "Ditto",
        "7Zip",
        "Proton VPn"
    ],
    "Developer Workstation": [
        "Visual Studio Code",
        "git",
        "Node JS",
        "Docker",
        "Helm",
        "Tilt",
        "DBeaver",
        "Postman",
        "Google Chrome",
        "7Zip"
    ],
    "Bridgify": [
        "Visual Studio Code",
        "DBeaver",
        "Notepad++",
        "Beyond Compare",
        "Google Chrome",
        "Ditto",
        "git",
        "Slack",
        "Clickup"
    ]
}
