{
    "Game": [
        "Steam",
        "Visual Studio Code",
        "Notepad++",
        "Google Chrome",
        "GOG",
        "VCMI"
    ],
    "Work": [
        "Visual Studio Code",
        "DBeaver",
        "Postman",
        "Notepad++",
        "Beyond Compare",
        "Google Chrome",
        "OpenLens",
        "Chocolatey GUI"
    ]
}