{
    "Developer": [
        "Visual Studio Code",
        "git",
        "Node JS",
        "Docker",
        "DBeaver",
        "Postman",
        "Google Chrome",
        "7Zip"
    ],
    "Games": [
        "Steam",
        "GOG",
        "Playnite",
        "VCMI",
        "Google Chrome",
        "Discord",
        "7Zip"
    ],
    "AI": [
        "ChatGPT",
        "Codex",
        "Ollama",
        "Visual Studio Code",
        "git",
        "Node JS",
        "Google Chrome",
        "7Zip"
    ]
}
